<% if (!index){ %>
  <div class="recent-vit">
	<br>
	&#x6700;&#x8FD1;&#x8BBF;&#x5BA2;&#xFF1A;
    <hr>
	<div class="ds-recent-visitors" data-num-items="12" data-avatar-size="54" id="ds-recent-visitors">
	</div>
	
  </div>
<% } %>