<% if (site.tags.length){ %> 

  <div class="widget-wrap"> 

    <h3 class="widget-title">About</h3> 

    <div class="widget"> 

      ” œ‰£∫xiaofeng355@gmail.com <br /> 

      Œ¢≤©£∫<a herf="http://weibo.com/xiaofeng117">@¬Î≈©“ª∏Á </a>

    </div> 

  </div> 

<% } %>